<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Foxy Cloud" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://cdn.jsdelivr.net/npm/resumablejs@1.0.2/resumable.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= render 'layouts/navbar'%>
    <div style="margin: 10px">
      <%= yield :head %>
    </div>
    

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="toast-alert" class="toast" style="position: fixed; top: 60px; right: 20px; background-color:rgb(189, 112, 112);; color: white; padding: 10px; border-radius: 5px; display: none;">
      <span><%= flash[:alert] %></span>
      <button onclick="document.getElementById('toast-alert').style.display='none'" style="background: none; border: none; color: white; font-size: 16px; float: right;">&times;</button>
    </div>
    <div id="toast-notice" class="toast" style="position: fixed; top: 60px; right: 20px; background-color:rgb(117, 159, 109);; color: white; padding: 10px; border-radius: 5px; display: none;">
      <span><%= flash[:notice] %></span>
      <button onclick="document.getElementById('toast-notice').style.display='none'" style="background: none; border: none; color: white; font-size: 16px; float: right;">&times;</button>
    </div>

    <div style="margin: 10px">
      <%= yield %>
    </div>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var toastAlert = document.getElementById("toast-alert");
    <% if flash[:alert] %>
      toastAlert.style.display = "block";
      setTimeout(function() {
      toastAlert.style.display = "none";
      }, 5000); // Hide after 5 seconds
    <% end %>

    var toastNotice = document.getElementById("toast-notice");
    <% if flash[:notice] %>
      toastNotice.style.display = "block";
      setTimeout(function() {
      toastNotice.style.display = "none";
      }, 5000); // Hide after 5 seconds
    <% end %>
  });
</script>